<app-header></app-header>
<div class="parent">
  <div class="signup-container">
    @if (!emailSent) {
      <form id="forgot-form" class="signup-form" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        @if (showError) {
          <div class="login-error-banner">
            <mat-icon class="error-icon">error_outline</mat-icon>
            <span class="error_message">{{ 'AUTH.FORGOT_PASSWORD.ERROR' | translate }}</span>
          </div>
        }
        <h1>{{ 'AUTH.FORGOT_PASSWORD.TITLE' | translate }}</h1>
        <p class="subtitle">{{ 'AUTH.FORGOT_PASSWORD.SUBTITLE' | translate }}</p>
        <mat-form-field class="form-control" floatLabel="always">
          <mat-label>{{ 'AUTH.FORGOT_PASSWORD.EMAIL_LABEL' | translate }}</mat-label>
          <input
            type="text"
            formControlName="email"
            id="email"
            name="email"
            [placeholder]="'AUTH.FORGOT_PASSWORD.EMAIL_LABEL' | translate"
            matInput
            required
          />
          <mat-error>{{ 'AUTH.FORGOT_PASSWORD.EMAIL_ERROR' | translate }}</mat-error>
        </mat-form-field>
        <button type="submit" class="login-button" [disabled]="forgotForm.invalid || isLoading">
          {{ 'AUTH.FORGOT_PASSWORD.BUTTON' | translate }}
        </button>
        <div class="login-link">
          <p class="sign-up">
            <a routerLink="/auth/login">{{ 'AUTH.FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}</a>
          </p>
        </div>
      </form>
    }
    @if (emailSent) {
      <div class="signup-form">
        <div class="success-icon">
          <mat-icon>mark_email_read</mat-icon>
        </div>
        <h1>{{ 'AUTH.FORGOT_PASSWORD.SUCCESS_TITLE' | translate }}</h1>
        <p class="two-factor-info">{{ 'AUTH.FORGOT_PASSWORD.SUCCESS_MESSAGE' | translate }}</p>
        <div class="login-link">
          <p class="sign-up">
            <a routerLink="/auth/login">{{ 'AUTH.FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}</a>
          </p>
        </div>
      </div>
    }
  </div>
</div>
