/*
  Odavde do donje granice sam ubacio css da zbog konflikta u velicini fontovi
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 19px;
}
h4 {
  font-size: 16px;
}

/* --------------------------------------------- */

body {
  background-color: #dad7cd;
  width: 100vw;
  height: 100vh;
  padding: 0 8rem;
}

body h1 {
  margin: 2rem 0;
  margin-bottom: 1rem;
  font-weight: 300;
  padding-bottom: 1rem;
  border-bottom: 1px solid #555;
}

.body__books {
  display: grid;
  width: 1680px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
}
