<header>
  <h2 class="header__about-us">O nama</h2>
  <h1 class="header__title">Book Verse</h1>
  <div class="header__right-side">
    <button class="header__cart">
      <h2>Korpa</h2>
      <img src="icons/cart.png" class="header__cart-icon" alt="ikona" />
    </button>
    <button class="header__profile" routerLink="/login">
      <h2 class="header__profile-name">Prijavi se</h2>
      <img src="icons/default_profile.png" class="header__cart-icon" alt="ikona" />
    </button>
  </div>
</header>
