<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                <h6>Book List</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>ISBN</th>
                                    <th>Naslov</th>
                                    <th>Format</th>
                                    <th>Cijena</th>
                                    <th>Jezik</th>
                                    <th>Izdavač</th>
                                    <th>Broj stranica</th>
                                    <th>Na stanju</th>
                                    <th>Akcije</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                Nova knjiga
            </div>
            <div class="card-body">
                <form [formGroup]="bookForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">ISBN</label>
                            <input formControlName="isbn" type="text" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Naslov</label>
                            <input formControlName="title" type="text" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Izdavač</label>
                            <mat-form-field>
                                <mat-label>Izdavač</mat-label>
                                <mat-select formControlName="publisherId">
                                    <!-- @for(publisher of publishers; track publisher.id){
                                         <mat-option value="publisher.id">publisher.name</mat-option>
                                    } -->
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <label for="">Format</label>
                            <mat-form-field>
                                <mat-label>Format knjige</mat-label>
                                <mat-select formControlName="bookFormatId">
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <label for="">Cijena</label>
                            <input formControlName="price" type="text" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Jezik</label>
                            <input formControlName="language" type="text" class="form-control">
                        </div>
                        <div class="col-12 w-100">
                            <label for="">Opis</label>
                            <textarea formControlName="description" placeholder="Unesite opis proizvoda"
                                class="form-control"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="">Broj stranica</label>
                            <input formControlName="pageCount" type="text" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Količina za online narudžbe</label>
                            <input formControlName="quantityInStockForOnlineOrders" type="text" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Datum objavljivanja</label>
                            <mat-form-field>
                                <mat-label>Odaberite datum</mat-label>
                                <input matInput matInput [matDatepicker]="picker" formControlName="publishedDate">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary">Resetuj</button>
                        </div>
                        <div class="col-6 text-center">
                            <button type="submit" class="btn btn-success" (click)="createBook()">Spremi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>