<app-header></app-header>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<div class="parent">
  <form class="wizard-form" [formGroup]="registerForm">
    <mat-horizontal-stepper style="text-align: center" linear #formStepper>
      <mat-step class="step">
        <div class="steps-container">
          <div class="step">
            <h3>{{ 'AUTH.REGISTER.STEP1_TITLE' | translate }}</h3>
            <mat-form-field class="form-control" floatLabel="always">
              <mat-label>{{ 'AUTH.REGISTER.FIRST_NAME' | translate }}</mat-label>
              <input
                formControlName="firstName"
                type="text"
                id="firstName"
                name="firstName"
                [placeholder]="'AUTH.REGISTER.FIRST_NAME_PLACEHOLDER' | translate"
                matInput
                required
              />
              <mat-error>{{ 'AUTH.REGISTER.FIRST_NAME_ERROR' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field class="form-control" floatLabel="always">
              <mat-label>{{ 'AUTH.REGISTER.LAST_NAME' | translate }}</mat-label>
              <input
                formControlName="lastName"
                type="text"
                id="lastName"
                name="lastName"
                [placeholder]="'AUTH.REGISTER.LAST_NAME_PLACEHOLDER' | translate"
                matInput
                required
              />
              <mat-error>{{ 'AUTH.REGISTER.LAST_NAME_ERROR' | translate }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="centriraj-dugme">
          <button
            type="button"
            class="next-btn button-s"
            [disabled]="!isFirstStepValid"
            matStepperNext
          >
            {{ 'AUTH.REGISTER.NEXT' | translate }}
          </button>
        </div>
      </mat-step>

      <mat-step>
        <div class="steps-container">
          <div class="step">
            <h3>{{ 'AUTH.REGISTER.STEP2_TITLE' | translate }}</h3>
            <mat-form-field class="form-control" floatLabel="always">
              <mat-label>{{ 'AUTH.REGISTER.EMAIL' | translate }}</mat-label>
              <input
                formControlName="email"
                type="text"
                id="email"
                name="email"
                [placeholder]="'AUTH.REGISTER.EMAIL_PLACEHOLDER' | translate"
                matInput
                required
              />
              <mat-error>{{ 'AUTH.REGISTER.EMAIL_ERROR' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-control fc-password" floatLabel="always">
              <mat-label>{{ 'AUTH.REGISTER.PASSWORD' | translate }}</mat-label>
              <div id="password-container">
                <input
                  #password
                  formControlName="password"
                  type="password"
                  id="password"
                  name="password"
                  [placeholder]="'AUTH.REGISTER.PASSWORD_PLACEHOLDER' | translate"
                  matInput
                  (input)="strengthChecker()"
                  required
                />
                <button
                  #visibilityIcon
                  mat-icon-button
                  (click)="togglePasswordVisibility()"
                  class="visibility-button"
                >
                  @if (invisible) {
                    <mat-icon>visibility_off</mat-icon>
                  } @else {
                    <mat-icon>visibility</mat-icon>
                  }
                </button>
                <div id="strength-bar" #strengthBar></div>
              </div>
              <mat-hint #strengthMessage>{{ messageStrength }}</mat-hint>
              <mat-error>{{ 'AUTH.REGISTER.PASSWORD_ERROR' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-control fc-password" floatLabel="always">
              <mat-label>{{ 'AUTH.REGISTER.CONFIRM_PASSWORD' | translate }}</mat-label>
              <div id="confirm-password-container">
                <input
                  #confirmedPasswordInput
                  formControlName="confirmedPassword"
                  type="password"
                  id="confirmedPassword"
                  name="confirmedPassword"
                  [placeholder]="'AUTH.REGISTER.CONFIRM_PASSWORD_PLACEHOLDER' | translate"
                  matInput
                  required
                />
                <button
                  mat-icon-button
                  (click)="toggleConfirmedPasswordVisibility()"
                  class="visibility-button-2"
                >
                  @if (confirmInvisible) {
                    <mat-icon>visibility_off</mat-icon>
                  } @else {
                    <mat-icon>visibility</mat-icon>
                  }
                </button>
              </div>
              <mat-error>{{ 'AUTH.REGISTER.CONFIRM_PASSWORD_ERROR' | translate }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="prev-next">
          <button type="button" class="next-btn prev-btn" matStepperPrevious>
            {{ 'AUTH.REGISTER.PREV' | translate }}
          </button>
          <button type="button" class="next-btn" matStepperNext [disabled]="!isSecondStepValid">
            {{ 'AUTH.REGISTER.NEXT' | translate }}
          </button>
        </div>
      </mat-step>

      <mat-step>
        <div class="steps-container">
          <div class="step">
            <h3>{{ 'AUTH.REGISTER.STEP3_TITLE' | translate }}</h3>
            <mat-form-field class="form-control" floatLabel="always">
              <mat-label>{{ 'AUTH.REGISTER.LINE1' | translate }}</mat-label>
              <input
                formControlName="line1"
                type="text"
                id="line1"
                name="line1"
                [placeholder]="'AUTH.REGISTER.LINE1_PLACEHOLDER' | translate"
                matInput
                required
              />
              <mat-error>{{ 'AUTH.REGISTER.LINE1_ERROR' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field class="form-control" floatLabel="always">
              <mat-label>{{ 'AUTH.REGISTER.LINE2' | translate }}</mat-label>
              <input
                formControlName="line2"
                type="text"
                id="line2"
                name="line2"
                [placeholder]="'AUTH.REGISTER.LINE2_PLACEHOLDER' | translate"
                matInput
              />
            </mat-form-field>

            <mat-form-field class="form-control" floatLabel="always">
              <mat-label>{{ 'AUTH.REGISTER.COUNTRY' | translate }}</mat-label>
              <mat-select
                formControlName="country"
                (selectionChange)="onCountryChange($event.value)"
              >
                <!-- [value] is the whole object, only .name is displayed -->
                <mat-option *ngFor="let country of countries" [value]="country">
                  {{ country.name }}
                </mat-option>
              </mat-select>
              <mat-error>{{ 'AUTH.REGISTER.COUNTRY_ERROR' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-control" floatLabel="always">
              <mat-label>{{ 'AUTH.REGISTER.CITY' | translate }}</mat-label>
              <mat-select formControlName="city">
                <mat-option *ngIf="loadingCities" disabled>
                  {{ 'AUTH.REGISTER.CITY_LOADING' | translate }}
                </mat-option>
                <mat-option *ngFor="let city of cities" [value]="city">
                  {{ city }}
                </mat-option>
              </mat-select>
              <mat-error>{{ 'AUTH.REGISTER.CITY_ERROR' | translate }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="prev-next">
          <button type="button" class="next-btn prev-btn" matStepperPrevious>
            {{ 'AUTH.REGISTER.PREV' | translate }}
          </button>
          <button
            type="button"
            class="next-btn"
            (click)="onRegister()"
            [disabled]="!isThirdStepValid"
          >
            {{ 'AUTH.REGISTER.SUBMIT' | translate }}
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <p routerLink="/">{{ 'AUTH.REGISTER.CANCEL' | translate }}</p>
    <div class="login-link">
      <p class="sign-up">
        {{ 'AUTH.REGISTER.HAVE_ACCOUNT' | translate }}
        <a routerLink="/auth/login">{{ 'AUTH.REGISTER.LOGIN_LINK' | translate }}</a>
      </p>
    </div>
  </form>
</div>
