<app-header></app-header>
<div class="parent">
  <div class="signup-container">
    @if (!passwordReset) {
      <form id="reset-form" class="signup-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        @if (showError) {
          <div class="login-error-banner">
            <mat-icon class="error-icon">error_outline</mat-icon>
            <span class="error_message">{{ 'AUTH.RESET_PASSWORD.ERROR' | translate }}</span>
          </div>
        }
        <h1>{{ 'AUTH.RESET_PASSWORD.TITLE' | translate }}</h1>
        <mat-form-field class="form-control" floatLabel="always">
          <mat-label>{{ 'AUTH.RESET_PASSWORD.NEW_PASSWORD_LABEL' | translate }}</mat-label>
          <input
            type="password"
            formControlName="newPassword"
            id="newPassword"
            name="newPassword"
            [placeholder]="'AUTH.RESET_PASSWORD.NEW_PASSWORD_LABEL' | translate"
            matInput
            required
          />
          <mat-error>{{ 'AUTH.RESET_PASSWORD.PASSWORD_ERROR' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="form-control" floatLabel="always">
          <mat-label>{{ 'AUTH.RESET_PASSWORD.CONFIRM_PASSWORD_LABEL' | translate }}</mat-label>
          <input
            type="password"
            formControlName="confirmPassword"
            id="confirmPassword"
            name="confirmPassword"
            [placeholder]="'AUTH.RESET_PASSWORD.CONFIRM_PASSWORD_LABEL' | translate"
            matInput
            required
          />
          @if (resetForm.hasError('passwordMismatch')) {
            <mat-error>{{ 'AUTH.RESET_PASSWORD.PASSWORDS_MISMATCH' | translate }}</mat-error>
          } @else {
            <mat-error>{{ 'AUTH.RESET_PASSWORD.PASSWORD_ERROR' | translate }}</mat-error>
          }
        </mat-form-field>
        <button type="submit" class="login-button" [disabled]="resetForm.invalid || isLoading">
          {{ 'AUTH.RESET_PASSWORD.BUTTON' | translate }}
        </button>
        <div class="login-link">
          <p class="sign-up">
            <a routerLink="/auth/login">{{ 'AUTH.RESET_PASSWORD.BACK_TO_LOGIN' | translate }}</a>
          </p>
        </div>
      </form>
    }
    @if (passwordReset) {
      <div class="signup-form">
        <div class="success-icon">
          <mat-icon>lock_reset</mat-icon>
        </div>
        <h1>{{ 'AUTH.RESET_PASSWORD.SUCCESS_TITLE' | translate }}</h1>
        <p class="two-factor-info">{{ 'AUTH.RESET_PASSWORD.SUCCESS_MESSAGE' | translate }}</p>
        <div class="login-link">
          <p class="sign-up">
            <a routerLink="/auth/login">{{ 'AUTH.RESET_PASSWORD.BACK_TO_LOGIN' | translate }}</a>
          </p>
        </div>
      </div>
    }
  </div>
</div>
