<header>
  <ul #dropMenu class="drop-menu">
    <li>
      <a>Lista želja <img src="icons/arrow_white.png" alt="icon" /></a>
    </li>
    <li>
      <a>Moje knjige <img src="icons/arrow_white.png" alt="icon" /></a>
    </li>
    <li>
      <a>Povrati <img src="icons/arrow_white.png" alt="icon" /></a>
    </li>
    <li>
      <a>Narudžbe <img src="icons/arrow_white.png" alt="icon" /></a>
    </li>
    <li>
      <a>Profil <img src="icons/arrow_white.png" alt="icon" /></a>
    </li>
    <li routerLink="/auth/logout">
      <a>Odjava <img src="icons/arrow_white.png" alt="icon" /></a>
    </li>
  </ul>
  <h2 class="header__about-us">O nama</h2>
  <h1 style="font-family: 'Meow Script';" class=" header__title">BookVerse</h1>
  <div class="header__right-side">
    <button class="header__cart">
      <h2>Korpa</h2>
      <img src="icons/cart_white.png" class="header__cart-icon" alt="ikona" />
    </button>
    <button (click)="showDropMenu()" class="header__profile">
      <h2 class="header__profile-name">Korisnik</h2>
      <img src="icons/default_profile_white.png" class="header__cart-icon" alt="ikona" />
    </button>
  </div>
</header>