<app-header />
<div class="book">
  <div class="book__return" [routerLink]="['/']">
    <img src="icons/arrow_black.png" alt="arr" />
    <h2>Nazad</h2>
  </div>
  <div class="book__container">
    <img src="https://delfi.rs/_img/artikli/2014/10/dervis_i_smrt_vv.jpg" alt="slika knjige" />
    <aside>
      <div class="book__title-and-authors">
        <h1>{{ book()?.title }}</h1>
        <div class="book__authors">
          @for(author of authors(); let i = $index; track author.id){
          <label>{{ `${author.firstName} ${author.lastName}` }}</label>
          @if(i < authors().length - 1) {
          <label>,&nbsp;</label>
          } }
        </div>
      </div>
      <div class="book__rating">
        <img src="icons/star.png" alt="star" />
        <img src="icons/star.png" alt="star" />
        <img src="icons/star.png" alt="star" />
        <img src="icons/star.png" alt="star" />
        <img src="icons/star.png" alt="star" />
        <h2>4.0</h2>
      </div>
      <div class="book__info">
        <h2>Izdavač: {{ book()?.publisherName }}</h2>
        <h2>Broj kupaca: 12</h2>
        <h2>ISBN: {{ book()?.isbn }}</h2>
        <h2>Broj strana: {{ book()?.pageCount }}</h2>
        <h2>Jezik: {{ book()?.language }}</h2>
      </div>
      <p>{{ book()?.description }}</p>
    </aside>
  </div>
  <div class="book__buy">
    <h1>Cijena: {{ book()?.price }} KM</h1>
    <div>
      <button>Dodaj u korpu <img src="icons/cart.png" alt="cart" /></button>
    </div>
  </div>
  <div class="book__reviews">
    <span>
      <div class="book__reviews-header">
        <h1>Recenzije</h1>
        <div class="book__rating">
          <img src="icons/star.png" alt="star" />
          <img src="icons/star.png" alt="star" />
          <img src="icons/star.png" alt="star" />
          <img src="icons/star.png" alt="star" />
          <img src="icons/star.png" alt="star" />
          <h1>4.0</h1>
        </div>
      </div>
      <div class="book__reviews-grades">
        <div class="book__reviews-grade">
          <h1>5</h1>
          <img src="icons/star.png" alt="star" />
          <div></div>
          <h1>(5)</h1>
        </div>
        <div class="book__reviews-grade">
          <h1>4</h1>
          <img src="icons/star.png" alt="star" />
          <div></div>
          <h1>(5)</h1>
        </div>
        <div class="book__reviews-grade">
          <h1>3</h1>
          <img src="icons/star.png" alt="star" />
          <div></div>
          <h1>(5)</h1>
        </div>
        <div class="book__reviews-grade">
          <h1>2</h1>
          <img src="icons/star.png" alt="star" />
          <div></div>
          <h1>(5)</h1>
        </div>
        <div class="book__reviews-grade">
          <h1>1</h1>
          <img src="icons/star.png" alt="star" />
          <div></div>
          <h1>(5)</h1>
        </div>
      </div>
    </span>
    <aside class="book__review-section">
      @for(review of reviews(); let i = $index; track review.bookId){
      <article>
        <img class="book__review-profile-picture" />
        <section>
          <h2>Naziv kupca</h2>
          <div>
            <img src="icons/star.png" alt="star" />
            <img src="icons/star.png" alt="star" />
            <img src="icons/star.png" alt="star" />
            <img src="icons/star.png" alt="star" />
            <img src="icons/star.png" alt="star" />
            <h3>{{ review.datePosted.toString().split('T')[0] }}</h3>
          </div>
        </section>
      </article>
      <h3>{{ review.comment }}</h3>

      }
    </aside>
  </div>
</div>
