<body>
  <div class="body__header">
    <h1>Preporučeno za Vas</h1>
    <div class="body__page-size">
      <h2>Veličina:</h2>
      <select (change)="setPageSize($event)" id="page-size" name="page-size">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
  </div>
  <div class="body__books">
    @for(book of books(); track book.id) {
    <app-book [routerLink]="['/knjige', book.id]" [book]="book" />
    }
  </div>
  <div class="body__pages">
    @if(pageNumber() > 1 && this.bookService.page() > 1) {
    <div (click)="setCurrentPage(this.bookService.page() - 1)"><</div>
    } @for(i of pageNumberArray();let index = $index; track i) { @if(index+1 == bookService.page())
    {
    <div id="body__current-page">{{ i }}</div>
    } @else {
    <div (click)="setCurrentPage(index + 1)">{{ `${i}` }}</div>
    } } @if(pageNumber() > 1 && this.bookService.page() < pageNumberArray().length) {
    <div (click)="setCurrentPage(this.bookService.page() + 1)">></div>
    }
  </div>
</body>
