<div class="dynamic-form-container">
  <h2>{{ 'COUPONS.TITLE' | translate }}</h2>

  <div class="type-selector">
    <button
      mat-raised-button
      [color]="selectedType === 'percent' ? 'primary' : ''"
      (click)="onTypeChange('percent')"
    >
      {{ 'COUPONS.TYPE_PERCENT' | translate }}
    </button>
    <button
      mat-raised-button
      [color]="selectedType === 'amount' ? 'primary' : ''"
      (click)="onTypeChange('amount')"
    >
      {{ 'COUPONS.TYPE_AMOUNT' | translate }}
    </button>
  </div>

  <form *ngIf="formFields.length > 0" [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let field of formFields" class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ getFieldLabel(field.name) | translate }}</mat-label>

        <!-- Dynamic datepicker: each field gets its own reference -->
        <ng-container *ngIf="field.type === 'date'; else otherInput">
          <input matInput [formControlName]="field.name" [matDatepicker]="picker" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </ng-container>

        <!-- For all other types -->
        <ng-template #otherInput>
          <input matInput [type]="field.type" [formControlName]="field.name" />
        </ng-template>

        <mat-error *ngIf="dynamicForm.get(field.name)?.hasError('required')">
          {{ getRequiredError(field.name) }}
        </mat-error>
        <mat-error *ngIf="dynamicForm.get(field.name)?.hasError('maxlength')">
          {{ getMaxLengthError(field.name) }}
        </mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="dynamicForm.invalid">
      {{ 'COUPONS.SAVE_BUTTON' | translate }}
    </button>
  </form>

  <div *ngIf="submitted && formValues" class="result">
    <h3>Uneseni podaci:</h3>
    <div *ngFor="let field of formFields">
      <strong>{{ getFieldLabel(field.name) | translate }}:</strong> {{ formValues[field.name] }}
    </div>
  </div>
</div>
