<div class="dynamic-form-container">
  <h2>{{ 'COUPONS.TITLE' | translate }}</h2>

  <div class="type-selector">
    <button
      mat-raised-button
      [color]="selectedType === 'percent' ? 'primary' : ''"
      (click)="onTypeChange('percent')"
    >
      {{ 'COUPONS.TYPE_PERCENT' | translate }}
    </button>
    <button
      mat-raised-button
      [color]="selectedType === 'amount' ? 'primary' : ''"
      (click)="onTypeChange('amount')"
    >
      {{ 'COUPONS.TYPE_AMOUNT' | translate }}
    </button>
    <br />
    <br />
  </div>

  <form *ngIf="formFields.length > 0" [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let field of formFields" class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ getFieldLabel(field.name) | translate }}</mat-label>
        <input matInput [type]="field.type" [formControlName]="field.name" />
        <mat-error *ngIf="dynamicForm.get(field.name)?.invalid">
          {{ getFieldLabel(field.name) | translate }} {{ 'VALIDATION.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
      <br />
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="dynamicForm.invalid">
      {{ 'COUPONS.SAVE_BUTTON' | translate }}
    </button>
  </form>

  <div *ngIf="submitted && formValues" class="result">
    <h3>{{ 'COMMON.DETAILS' | translate }}:</h3>
    <div *ngFor="let field of formFields">
      <strong>{{ getFieldLabel(field.name) | translate }}:</strong> {{ formValues[field.name] }}
    </div>
  </div>
</div>
