/*
  Odavde do donje granice sam ubacio css da zbog konflikta u velicini fontovi
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

h1 {
  font-size: 32px;
  margin: 0 -8px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 19px;
}
h4 {
  font-size: 16px;
}

/* --------------------------------------------- */
.test {
  height: 70px;
  overflow-y: hidden;
  transition: height 0.5s ease;
}
.search-and-filters {
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin: 0.8rem 0;
}

.search-and-filter-button,
.category-and-price-range,
.author-and-submit-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 530px;
}

.search-and-filters__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  padding: 0.7rem 1.2rem;
  width: 70%;
  border-radius: 9px;
}

input {
  border: none;
  outline: none;
  background-color: #d9d9d9;
  font-size: 1.2rem;
}

.search-and-filters__filter-button {
  display: flex;
  border: none;
  justify-content: space-between;
  align-items: center;
  width: 27%;
  background-color: #d9d9d9;
  padding: 0.7rem 1.5rem;
  border-radius: 9px;
  gap: 0.5rem;
}

.category-and-price-range__book-category select {
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  padding: 0.7rem 1.5rem;
  width: 290px;
  border-radius: 9px;
}
select:hover {
  cursor: pointer;
}

.category-and-price-range__price-range {
  font-size: 20px;
  background-color: #d9d9d9;
  padding: 0.7rem 1.2rem;
  width: 100px;
  border-radius: 9px;
}

.author-and-submit-button__author {
  font-size: 1.4rem;
  background-color: #d9d9d9;
  padding: 0.7rem 1.2rem;
  width: 70%;
  border-radius: 9px;
}

.author-and-submit-button__submit-button {
  font-size: 20px;
  border: none;
  background-color: #d9d9d9;
  padding: 0.7rem 1.5rem;
  width: 25%;
  border-radius: 9px;
  gap: 0.5rem;
}

img {
  height: 1.5rem;
  width: 1.5rem;
}

img:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

/* --------------------------------------------- */
.show-filters {
  height: 185px;
}
