<app-header></app-header>
<div class="parent">
  <div class="signup-container">
    <div class="signup-form" @fadeInUp>
      <div class="logout-icon-container">
        <mat-icon class="logout-icon">check_circle</mat-icon>
      </div>

      <h1>{{ 'AUTH.LOGOUT.TITLE' | translate }}</h1>

      <p class="logout-message">{{ 'AUTH.LOGOUT.MESSAGE' | translate }}</p>

      <div class="logout-progress">
        <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        <div class="logout-countdown">
          <mat-icon class="countdown-icon">schedule</mat-icon>
          <span>{{ 'AUTH.LOGOUT.REDIRECT_IN' | translate : { seconds: countdownSeconds } }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
